body {
    background-color: #ecf0f1;
}

.btn {
    cursor: pointer;
}

h1 {
    color: #34495e;
    text-align: center;
    transition: color 0.5s ease-in-out;
}

.clicked {
    color:#7f8c8d;
}

.js-lists-li {
    list-style: none;
    float: left;
    margin-left: 20px;
}

.js-cards-list {
    life-style: none;
}